/* แถบด้านบน */
.delivery-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 16px;
  padding-left: 20%;
  width: 60%;
}

.delivery-label {
  font-weight: bold;
  width: 10%;
}

.delivery-input {
  width: 90%;
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 4px 12px;
}

/* Banner ตรงกลาง */
.promotion-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.promotion-banner-image {
  width: 60%;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* ส่วนโปรโมชั่น */
.promotion-section {
  padding: 20px;
}

.promotion-text {
  text-align: left;
  padding-left: 20%;
}

.promotion-items {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 60%;
  padding-left: 20%;
  justify-content: flex-start;
}

.promotion-item {
  width: 23%; 
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  text-align: left;   
  overflow: hidden;
  position: relative;
}

.promotion-item img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.promotion-item .detail-container {
  height: auto;
}

.promotion-item p {
  margin: 0;
  padding: 8px;
  color: #000000; 
  font-weight: bold;
  font-size: 18px;
  padding-top: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.6em; 
  line-height: 1.8em; 
}

.promotion-item .price {
  color: #ff0000; 
  font-size: 14px;
  padding-bottom: 0px;
}

.promotion-item .detail-button {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  background-color: rgba(255, 0, 0, 0.9);
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.promotion-item:hover .detail-button {
  opacity: 1;
}

.promotion-item .detail-button:hover {
  background-color: rgba(255, 88, 88, 0.9) !important;
  color: #ffffff !important;
  border: rgba(255, 88, 88, 0.9);
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
}

.category-buttons button {
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.category-buttons .inactive:hover {
  background-color: #b3b3b3 !important; 
  border-color: #b3b3b3 !important;
  color: #ffffff !important; 
}

.category-buttons .active {
  background-color: #ffffff; 
}

.category-buttons .active:hover {
  background-color: #eb3c3c !important; 
  border-color: #eb3c3c !important;
  color: #ffffff !important; 
}

/* Media query สำหรับหน้าจอที่มีความกว้างเล็กกว่า 1024px */
@media (max-width: 1024px) {
  .category-buttons {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    justify-content: left;
  }
}