.login-container {
  max-width: 1200px;
  margin: 0 auto;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 
  padding: 0 10px;
}

.top-buttons .ant-btn-link {
  font-size: 16px;
  font-weight: bold;
}

.login-form-container {
  padding: 30px;
  border-radius: 8px;
}

.login-form {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-form h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.login-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.forget-pass {
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .login-row {
    justify-content: center;
  }

  .login-container {
    max-width: 100%;
    align-items: center;
  }

  .login-form {
    width: 90%;
    height: 100%;
    padding-left: 5%;
  }

  .top-buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 5%;
    margin-bottom: 20px; 
  }

  .login-form-container {
    width: 90%;
    height: 100%;
  }
  
  .login-banner {
    display: none;
  }
}
